<h1>Hello Haneef</h1>
<a routerLink="home">Home</a>
<br />
<a routerLink="about">About</a>
<br />
<a routerLink="user">User</a>

<br /><br />
<a routerLink="user/20">Haneef</a>
<br />
<a routerLink="user/30">Fazal</a>
<br />
<a routerLink="user/40">Sahil</a>

<router-outlet></router-outlet>

<ul >
    <li *ngFor="let val of user">{{val.name && val.email}}</li>
</ul>

<!-- what is services  -->

<!-- services is a block of code in which different functionality can be done by some code  -->

<app-footer></app-footer>
